
nav{
    background: #022340;
}
.container{
    margin-left: 5vw ;
    border: black;
    /* height: 300px; */
    margin: 20px;
    padding: 20px 20px 20px 20px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}
 
    
#playList {
    text-align: center;
    border: 3px solid black; 
    background: beige;
    border-radius: 25px ;
    padding: 15px 15px; 
    height: 600px;
    /* width: 300px;  */
    margin-left: 30px;


}

body {
    font-family: 'poiret one', cursive;
}

.default {
    background: #022340;
    }
prompt.default  { 
    background: #64798C; 
    }
    /* header and footer */
header.default, footer.default { 
    background: #B0B7BF;
     }
     /* weather container */
 .box.default { 
    background: #F2DC6D; 
    }
     /* extra background  { background: #A6A160; } */

/* Few clouds: */
.fewClouds {
    background: #E2DAFE;
    }      
header.fewClouds, footer.fewClouds { 
    background-color: #94C5FF;
    background: #0583F2;
    }
.box.fewClouds { 
    background: #0186FC; 
    }   
prompt.fewClouds { 
    background: #83B8FE; 
    }

/* Sunny weather: */
.sunny {
    background: #F2CB05 
    }
header.sunny, footer.sunny { 
    background: #59A8D9; 
    }
.box.sunny { 
    background: #034AA6; 
    }
prompt.sunny { 
        background: #0477BF; 
    }

/* extra color { background: #BF7E04; } */

/* rain: */
.rain{ 
    background: #395059; 
    }
header.rain, footer.rain { 
    background: #949FA6; 
    }
box.rain { 
    background: #2B4032; 
    }
prompt.rain { 
    background: #395059; 
    }
/* extra color { background: #F0F2F2; } */

/* partly cloudy { */
.partlyCloudy { 
    background: #6387A6;
    }
header.partlyCloudy, footer.partlyCloudy { 
    background-color: #024059; 
    background: #979DA6;
    }
box.partlyCloudy {
    background: lightgoldenrodyellow;
    }
prompt.partlyCloudy { 
    background-color: #BABDBF; 
    background: #023859;
    }
/* .background-theme_partly-cloudly-3-hex { background: #023859; } */

/* Thunderstorm: */
.thunderstorm { 
    background: #A692A2; 
    }
header.thunderstorm, footer.thunderstorm { 
    background: #0D0D0D; 
    }
box.thunderstorm { 
    background: #171726; 
    }
prompt.thunderstorm { 
    background: #534A59; 
    }
    /* .background-theme_thunderstrom-1-hex { background: #D9BFCD; } */

/* Mist: */
.mist { 
    background-color: #F2DAC4;
    background: #3E5956; 
    }
.mist-head-foot { 
    background: #BFA89B; 
    }
.mist-weather { 
    background: #BFAF8F; 
    }
.mist-prompt { 
    background: #3E5956; 
    }
    /* .background-theme_mist-1-hex { background: #142626; } */


/* Snow: */
.snow {
    background: #7C92A6; 
    }
header.snow header.footer { 
    background: #454E59; 
    }
.box.snow { 
    background: #DCE8F2; 
    }
prompt.snow { 
    background: #BACBD9; 
    }
    /* .background-theme_snow-5-hex { background: #0D0D0D; } */

